*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgc-darker: #000000;
    --bgc-dark-f: #222222;
    --bgc-darkgrey: #4a4a4a;
    --f-green: #4bc800;
    --btn-red: #e6161b;
}